*{
    box-sizing: border-box;
}

.barra{
    width: 20em;
    height: 1em;
    border: 1px solid
}

.indicador{
    width: 0;
    height: 100%;
    background-color: red;
}

body{
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(57, 137, 57, 0.267);
}
