<!-- En ejs llamamos al codigo que se re utiliza como partials -->

<footer>
  <div class="mail-tel mail-tel__active" id="mail-pilar">
    <a href="mailto:mailpilar@lairenita.com">mailempresa@gmail.com</a>
    <a href="tel: +5491154628022">Phone. 1554628022</a>
  </div>
  <div class="footer-info">
    <a href="mailto:info@lairenita.com">info@developer.com</a>
    <a href="#">Instagram</a>
  </div>
  <div class="mail-tel mail-tel__inactive" id="mail-daireaux">
    <a href="mailto:maildaireaux@lairenita.com">maildaireaux@lairenita.com</a>
    <a href="tel: +5491154628022">Phone. 1554628022</a>
  </div>
</footer>
